<%= include_gon  %>

<div>
	<form>
		<input type="text">
		<button type="submit" value="Buscar">Buscar</button>
	</form>
</div>

<div id="resultados">
	<%= @tweets %>
	<%= @hashtags %>
	<%= @usuarios %>
</div>

