<div>
	<form>
		<input type="text">
		<button type="submit" value="Buscar">Buscar</button>
	</form>
	<% @client.search("#ayotzinapa", result_type: "recent").take(3).collect do |tweet| %>
		<p><%= "#{tweet.user.screen_name}: #{tweet.text}" %></p>
	<% end %>
</div>
