<div>
	<form>
		<input type="text">
		<button type="submit" value="Buscar">Buscar</button>
	</form>
	<% @client.search("#ayotzinapa OR #ayot2inapa OR #AyotzinapaDosAños", result_type: "recent").each do |tweet| %>
		<p><%= tweet %></p>
	<% end %>
</div>
