<div>

<% i = 0 %>
<% @videos = [] %>
<% @playlist.each do |v| %>
	<% @videos << {thumbnail: v.thumbnail_url, id: v.id, desc: v.description} %>
<% end %>

<% @videos.each do |v| %>
	<div>
		<a href=<%= "https://www.youtube.com/watch?v=" + v.id %> data-uk-lightbox>
			<%= image_tag(v.thumbnail, alt: v.description, class: "") %>
		</a>
	</div>
<% end %>
</div>
